:root {
  --dark-blue:#003049;
  --dark-red:#D62828;
  --dark-orange:#F77F00;
  --yellow:#FCBF49;
  --tan:#EAE2B7;
}


body {
  background:var(--tan);
  margin:0;
  padding:0;
  font-family:Times;
}

/* header */
header {
  position: relative;
  height:10vh;
  top:0;
  left:0;
  margin:0;
  padding:1em;
  background:var(--dark-blue);
  color:var(--dark-orange);
  border-bottom:5px solid var(--dark-red);
  border-top:5px solid var(--dark-red);
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
}

h1 {
  text-align:center;
  font-size:2em;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type:none;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

a {
  color:var(--tan);
  text-decoration:none;
}
/* Image Grid */
div.grid {
  width:90vw;
  max-width: 1000px;
  max-height: 100px;
  margin: 30px auto 30px auto;
  display:flex;
  flex-direction:row;
}

div.grid img:nth-of-type(1) {
  border:3px solid var(--dark-blue);
  overflow:auto;
}

div.grid img:nth-of-type(2) {
  border:3px solid var(--yellow);
  overflow:auto;
}
 
div.grid img:nth-of-type(3) {
  border:3px solid var(--dark-red);
  overflow:auto;
}

div.grid img:nth-of-type(4) {
  border:3px solid var(--dark-orange);
  background-color:white;
  overflow:auto;
}

div.grid img:nth-of-type(5) {
  border:3px solid var(--yellow);
  overflow:auto;
}

div.grid img:nth-of-type(6) {
  border:3px solid var(--dark-red);
  overflow:auto;
}

div.grid img:nth-of-type(7) {
  border:3px solid var(--dark-blue);
  overflow:auto;
}

/* store locations */
div.locations {
  border:5px solid var(--dark-blue);
  box-sizing: border-box;
  width:90vw;
  margin:30px auto 30px auto;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  padding:1em;
  justify-content:center;
  background-color:var(--dark-red);
  color:var(--tan);

}

section.store-locations {
  border:2px solid var(--tan);
  margin:1em;
  padding:0.5em;
  flex:1;
  font-family: 'Roboto', sans-serif;

}
section.store-locations h2 {
  font-size:2em;
  color:var(--dark-blue);
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
}
section.store-locations h3 {
  font-size:1.25em;
  text-decoration:underline;
  font-family: 'Roboto', sans-serif;
}


/* Sales Image */
figure img {
  background:radial-gradient(
    circle closest-corner at 50% 50%,
    var(--yellow),
    var(--dark-orange));
  width: 80vw;
  margin-top:2vh;
  margin-bottom:5vh;
  margin-left:7vw;
  padding: 3vw;
  border-radius:2vw;
  border:2px solid var(--dark-orange);
}

/* Table */

table {
  width:86vw;
  margin-left:7vw;
  background:var(--dark-blue);
  color:var(--tan);
  font-family:Arial;
}

th {
  text-align:left;
  padding:5px;
  border:2px solid var(-tan);
}

td {
  text-align:left;
  padding:5px;
  border:2px solid var(--tan);
}

/*form*/
#newStoreForm {
  width:86vw;
  margin-left:7vw;
  margin-top:5vw;
  color:var(--dark-blue);
}
#newStoreField {
  display:flex;
  flex-direction:column;
}

#newStoreField legend {
  font-size:1.5em;
  text-align:center;
  text-decoration:underline;

}










/* footer */
footer {
  position: relative;
  margin-top:2vh;
  padding:1em;
  background:var(--dark-blue);
  border-top:5px solid var(--dark-red);
  border-bottom:5px solid var(--dark-red);
  color:var(--tan);
}